body{
    margin:0px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    background-image: url(Images/Background.jpg);
}

.center {
  align-self: center;
}

#GameBoard {
    border: solid;
    cursor: none;
    background-color:white;
    align-self: center;
    border: solid;
    cursor: none;
}

#MusicToggle {
    margin-left: 372px;
    font-size: 24px;
    text-decoration: line-through;
    cursor: pointer;
    width:100px;
}