.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    background-image: url(Images/Background.jpg);
}

.center {
  align-self: center;
}


#GameBoard {
    border: solid;
    cursor: none;
    position: absolute;
    right: 145px;
    top: 156px;
    background-color:white;
}

#MusicToggle {
    margin-left: 71px;
    font-size: 24px;
    text-decoration: line-through;
    cursor: pointer;
    width:100px;
}